@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}

body{
  font-family: "Poppins", sans-serif;
}
/* ########## utility classes######## */

.container{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}
.btn{
    display: inline-block;
    padding: 1em 2.5em;
    text-decoration: none;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    margin-top: 1em;
    text-transform: uppercase;
    font-weight: 500;
}
.btn-primary{
    color: #fff;
    background: #16a083;
}

/* ######### navbar-styling ####### */

/* for desktop mode  */
.navbar input[type='checkbox'],
.navbar .hamburger-lines{
    display: none;
}

.navbar{
    box-shadow: 0px 5px 10px 0px #aaa;
    position: fixed;
    width: 100%;
    color: #000;
    background: #fff;
    opacity: 0.85;
    z-index: 999;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
    
}

.menu-items{
    order: 2;
    display: flex;
    justify-content: space-between;
}
.menu-items li{
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1.6rem;
}
.logo{
    order: 1;
    font-size: 3rem;
}

.navbar a{
    text-decoration: none;
    color: grey;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.navbar a:hover{
    color: #117964;
}

/* ############## showcase styling##################################### */

.showcase-area{
    height: 50vh;
    background: url("./img/header-image2\ \(1\).jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.showcase-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.6rem;
}
/* ######################## about area########################################## */
#about{
    padding: 50px 0;
    background: #f5f5f7;
}
.about-container{
    display: flex;
    flex-wrap: wrap;
    height: 50vh;
}
.about-content p{
    font-size: 1.6rem;
    color: #555;
}
.about-content h2{
    font-size: 3.2rem;
}
.about-content .small{
    font-size: 1.6rem;
    color: #666;
    font-weight: 600;
}
.about-image{
    flex: 1 1 400px;
    padding: 30px;
    transform: translateX(150%);
    animation: about-image-animation 1s ease-in-out forwards;
}

@keyframes about-image-animation{
    100%{
        transform: translate(0);
    }
}
.about-content{
    flex: 1 1 400px;
    padding: 30px;
    margin: auto;
    transform: translateX(-150%);
    animation: about-content-animation 1s ease-in-out forwards;
}

@keyframes about-content-animation{
    100%{
        transform: translate(0);
    }
}

.about-image img{
    display: block;
    height: 300px;
    max-width: 100%;
    margin: auto;
    object-fit: cover;
    object-position: right;
}

/* ################### food category styling ##################### */

#food{
    padding: 5rem 0 10rem 0;
}
#food h2{
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 40px;
    font-size: 3rem;
    color: #555;
}
.food-container{
    display: flex;
    justify-content: space-between;
}
.food-container img{
    display: block;
    width: 100%;
    margin: auto;
    max-width: 300px;
    object-fit: cover;
    object-position: center;
}
.img-container{
    margin: 0 1rem;
    position: relative;
}

.img-content{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    z-index: 2;
    text-align: center;
    transition: all 0.3s ease-in-out 0.1s;   
}

.img-content h3{
    color: #fff;
    font-size: 3rem;
}
.img-content a{
    font-size: 1.2rem;
}

.img-container::after{
    content: "";
    display: block;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.871);
    opacity: 0;
    z-index: 1;
    transform: scaleY(0);
    transform-origin: 100% 100%;
    transition: all 0.3s ease-in-out;
}
.img-container:hover::after{
    opacity: 1;
    transform: scaleY(1);
}
.img-container:hover .img-content{
    opacity: 1;
    top: 40%;
}
/* ################food menu######################## */

#food-menu .food-menu-heading{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 3rem;
    text-transform: uppercase;
    color: #555;
    font-weight: 400;
}
.food-menu-container{
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0 30px 0;
}
.food-menu-container img{
    display: block;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
.food-menu-item{
    display: flex;
    flex: 1 1 600px;
    justify-content: space-evenly;
    margin-bottom: 3rem;
}
.food-description{
    margin: auto 1.5rem;
    color: #555;
}
.food-price{
    font-weight: 700;
    font-size: 1.5rem;
    color: #117964;
}
.food-title{
    font-size: 2rem;
    font-weight: 500;
}

/* ###################testimonial ################################## */
#testimonial{
    padding: 5rem 0;
    background: rgb(243, 243, 243);
}
.testimonial-title{
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    color: #555;
}
.star-rating{
    color: gold;
}
.customer-photo img{
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin: auto;
}
.testimonial-container{
    display: flex;
    flex: 1 1 400px;
    padding: 50px 0 30px 0;
}
.star-rating{
    text-align: center;
}
.customer-name{
    text-align: center;
}
.testimonial-text{
    margin: 1rem 8rem;
    text-align: center;
}

/* ############contact ################# */
#contact{
    padding: 5rem 0;
    background: rgb(226, 226, 226);
}
.contact-container{
    display: flex;
    background: #fff;
}
.contact-image{
    width: 50%;
}
.contact-image img{
    display: block;
    height: 400px;
    object-fit: cover;
    object-position: center;
    width: 100%;
}
.contact-detail{
    padding: 1rem;
    width: 50%;
    margin: auto;
}
.contact-detail input{
    display: block;
    width: 100%;
    border: none;
    border-bottom: 2px solid #ddd;
    padding: 1rem 0;
    box-shadow: none;
    outline: none;
    margin-bottom: 1rem;
    color: #444;
    font-weight: 500;
}
.contact-detail textarea{
        display: block;
    width: 100%;
    border: none;
    border-bottom: 2px solid #ddd;
    padding: 1rem 0;
}
.contact-detail h2{
    font-size: 3rem;
    font-weight: 400;
    color: #444;
    margin-bottom: 1rem;
}
.contact-detail a{
    font-size: 1.2rem;
}

#footer h2{
    text-align: center;
    font-size: 2rem;
    padding: 3rem;
    font-weight: 500;
    color: #fff;
    background: #656565;
}

